*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
 }

 :root{
    --h2-font: 2rem;
}

body{
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-size: 14px;
	height: 100%;
}

header {
    background-color: #78B159; 
    padding: 10px 0; 
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 500px; /* Largura máxima para o conteúdo do cabeçalho */
    margin: 0 auto; /* Centraliza o cabeçalho na página */
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-container img {
    max-height: 40px; /* Altura máxima da imagem */
    margin-right: 10px; /* Espaçamento entre a imagem e o texto */
}

.logo-container span {
    color: #fff; /* Cor do texto */
    font-weight: bold; /* Estilo do texto */
	font-size: 1.5rem;
}

.texto-h2{
	font-size: var(--h2-font);
	text-align: center;
	margin: 1rem 0;
}

.container{
	width: 60%;
	height: 100%;
	margin: 0 auto;
}

section{
	padding: 10px 3% 50px;
	overflow: hidden;
}

section h2{
	font-size: 3em;
	display: block;
	padding-bottom: .5em;
	border-bottom: 1px solid #ccc;
	margin-bottom: .5em;
}

table{
	width: 100%;
	margin-bottom : .5em;
    table-layout: fixed;

}

td, th {
	padding: .7em;
	margin: 0;
	border: 1px solid #ccc;
	text-align: center;
}

th{
	font-weight: bold;
	background-color: #EEE;
	vertical-align: middle;

}

label{
	color: #555;
	display: block;
	margin-bottom: .2em;
}

.campo{
	margin: 0;
	padding-bottom: 1em;
	width: 100%;
	border: 1px solid #ccc;
	padding: .7em;
	width: 100%;
}

.campo-medio{
	display: inline-block;
	padding-right: .5em;
}

.grupo{
	width: 32%;
	display: inline-block;
	padding: 10px 0px;
}

button{
	padding: .5em 2em;
	border: 0;
	border-bottom: 3px solid;
	font-size: 1.2em;
	cursor: pointer;
	margin: 0;
	margin-top: -3px;
	color: #fff;
	background-color:#FFA500;
	border-color: #d48a00;
	width: 20%;
    display: block;
    clear: both;
    margin: 10px 0px;

}

button:active{
	margin-top:0px;
	border: 0;
}

button[disabled=disabled], button:disabled {
    background-color: gray;
	border-color: darkgray;

}

.adicionar-paciente{
    margin-top: 30px;
}

.campo-invalido{
	border: 1px solid red;
}


.paciente-invalido{
	background-color: lightcoral;
}

.mensagem-erro{
	color: rgb(255, 9, 9);
	text-transform: uppercase;
}


.fadeOut{
	opacity: 0;
	transition: 0.5s;
	background-color: blue;
}


#filtrar-tabela{
	width: 250px;
	height: 30px;
	margin-bottom: 10px;
}

.invisivel{
	display: none;
}


footer{
    letter-spacing: 1px;
    text-align: center;
    padding: 20px 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--bg-color);
}
  

@media (max-width: 1480px){
    footer{
        padding: 15px 3%;
    }
}